
<!DOCTYPE html>

<html>
    <head>
        <title>Magic Store</title>
        <meta name="viewport" content="width=device-width"/>
        <link href="/modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"/>
        <link href="~/css/styles.css" rel="stylesheet" />
    </head>
    <body>
        <partial name="_navbar"/>

        <div class="container pt-100 mb-5">
            @RenderBody()
        </div>

    </body>
</html>