
<!DOCTYPE html>

<html>
    <head>
        <title>Magic Store</title>
        <meta name="viewport" content="width=device-width"/>
        <link href="/modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"/>
    </head>
    <body>
        @RenderBody()
    </body>
</html>