<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
    <div class="container">
        <a class="navbar-brand" href="/">Magic Store</a>

        <ul class="navbar-nav mr-auto">

            <li class="nav-item">
                <a href="/products" class="nav-link">Products</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Cart</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Orders</a>
            </li>

            <li class="nav-item">
                <a asp-controller="admin" asp-action="index" class="nav-link">Admin Products</a>
            </li>
            <li class="nav-item">
                <a asp-controller="admin" asp-action="addproduct" class="nav-link">Add Product</a>
            </li>
            <li class="nav-item">
                <a asp-controller="admin" asp-action="categories" class="nav-link">Admin Categories</a>
            </li>
            <li class="nav-item">
                <a asp-controller="admin" asp-action="addcategory" class="nav-link">Add Category</a>
            </li>
        </ul>
        <ul class="navbar-nav mr-auto logNavBar">
            <li class="nav-item">
                <a href="#" class="nav-link">Logout</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Login</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Register</a>
            </li>
        </ul>
    </div>
</nav>